.clientContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    color: #eee;
}

.dataClient {
    padding: 20px;
}

.orders {
    padding: 20px;
}
.orders h1 {
    font-size: 40px;
}
