.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  padding-top: 200px;
  color: black;

  }
  .product-item{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 50px;
    background: white;
    padding: 30px;
    border-radius: 15px;
  }
  .product-image-container {
    flex: 1;
    display: flex;
    justify-content: center;

  }
  
  .product-image {
    max-width: 100%;
    width: 800px;
    min-width: 500px;
    max-height: 100%;
  }
  
  .product-details-container {
    flex: 2;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .product-name {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top:-120px;
  }
  
  .product-details {
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .product-details p {
    margin: 0.5rem 0;
    max-width: 500px;
  }
  
  .product-details button {
    margin-top: 1rem;
  }
  .addToCartBttn{
    background: white;
    text-decoration:none;
    color: black;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }